@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap");
:root {
  --hue: 207; /* blue */

  --first-color: hsl(var(--hue), 90%, 61%);
  --first-color-alt: hsl(var(--hue), 90%, 57%);

  --title-color: hsl(var(--hue), 12%, 95%);
  --text-color: hsl(var(--hue), 12%, 75%);
  --text-color-alt: hsl(var(--hue), 12%, 90%);

  --body-color: hsl(var(--hue), 40%, 8%);
  --container-color: hsl(var(--hue), 24%, 12%);

  --h2-font-size: 3rem;
  --h4-font-size: 2.5rem;
  --h6-font-size: 1.1rem;
  --normal-font-size: 0.98rem;
  --small-font-size: 0.8rem;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  background-color: var(--body-color);
}

/* global class */
.container {
  max-width: 80%;
  margin: 0 auto;
}
/* ==================================================================== */
/* dekstop mode */
/* home section */
#home {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#home .container {
  display: flex;
  align-content: center;
}
#home .container .home-profile {
  width: 40%;
  text-align: center;
  padding-right: 3rem;
}
#home .container .home-profile img.home-profile-img {
  width: 190px;
  border-radius: 50%;
  border: 4px solid var(--first-color-alt);
  padding: 0.3rem;
  margin-bottom: 1.2rem;
}
#home .container .home-profile h2.home-profile-title {
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-bottom: 0.9rem;
  line-height: 2.5rem;
  font-family: "Nunito";
  text-transform: uppercase;
  font-weight: 800;
}
#home .container .home-profile p.home-profile-desc {
  font-size: var(--normal-font-size);
  color: var(--text-color);
  margin-bottom: 1.4rem;
}
#home .container .home-profile a.home-btn-dowload-cv {
  font-family: 'Nunito';
  background-color: var(--first-color);
  padding: .5rem 1rem ;
  text-decoration: none;
  color: var(--container-color);
  font-weight: 800;
  border-radius: 0.5rem;
}
#home .container .home-menu {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#home .container .home-menu .home-menu-group {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 1rem;
}
#home .container .home-menu .home-menu-group .home-menu-list {
  width: 50%;
  padding: 0 1rem;
}
#home .container .home-menu .home-menu-group .home-menu-list a {
  background-color: var(--container-color);
  display: block;
  width: 100%;
  padding: 1.4rem;
  text-decoration: none;
  color: var(--title-color);
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  font-size: var(--h6-font-size);
  font-weight: 500;
  transition: 0.3s;
}
#home .container .home-menu .home-menu-group .home-menu-list a:hover {
  background-color: var(--first-color-alt);
  color: var(--container-color);
}
#home
  .container
  .home-menu
  .home-menu-group
  .home-menu-list
  .home-menu-list-icon {
  margin-right: 0.5rem;
}
#home .container .home-menu .home-menu-sosmed {
  text-align: center;
}
#home .container .home-menu .home-menu-sosmed a {
  text-decoration: none;
  margin: 0.4rem;
  color: var(--first-color-alt);
  transition: 0.2s;
}
#home .container .home-menu .home-menu-sosmed a:hover {
  color: var(--first-color);
}
/* end home section */

/*  about section */
#about {
  width: 100vw;
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;

}
#about .container {
  display: flex;
  align-content: center;
}
#about .container .about-menu {
  width: 30%;
}
#about .container .about-menu h2.about-menu-title {
  color: var(--first-color);
  font-size: var(--h2-font-size);
  text-transform: capitalize;
  position: relative;
  font-family: "Nunito";
  font-weight: 700;
  margin-bottom: 1rem;
  display: inline-block;
  padding-left: 1rem;
}
#about .container .about-menu h2.about-menu-title::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  height: 70%;
  width: 5px;
  background-color: var(--first-color);
  border-radius: 2px;
  transform: translate(0, -50%);
}
#about .container .about-menu p.about-menu-desc {
  color: var(--text-color-alt);
  font-size: var(--h6-font-size);
  margin-bottom: 0.5rem;
}
#about .container .about-menu .about-menu-sosmed a {
  text-decoration: none;
  margin-right: 0.4rem;
  color: var(--text-color-alt);
  transition: 0.2s;
}
#about .container .about-menu .about-menu-sosmed a:hover {
  color: var(--first-color-alt);
}
#about .container .about-content {
  width: 70%;
}
#about .container .about-content .about-content-desc {
  margin-bottom: 1rem;
  padding: 0 1rem;
  color: var(--text-color);
}
#about .container .about-content .about-content-desc p {
  color: var(--text-color);
  font-size: var(--normal-font-size);
  margin-bottom: 1rem;
  /* text-indent: 0.5rem; */
}
#about .container .about-content .about-content-desc h3 {
  margin-bottom: .5rem;
  color: var(--first-color-alt);
}
#about .container .about-content .about-content-desc .about-content-desc-job small {
  color: var(--title-color);
}
#about .container .about-content .about-content-desc .about-content-desc-job h6 {
  font-size: var(--h6-font-size);

}
#about .container .about-content .about-content-desc .about-content-desc-job p {
  font-size: var(--normal-font-size);

}
#about .container .about-content .about-content-nav {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}
#about .container .about-content .about-content-nav a {
  background-color: var(--container-color);
  text-decoration: none;
  padding: 0.4rem 0.9rem;
  border-radius: 0.3rem;
  color: var(--text-color);
  transition: 0.3s;
  font-size: var(--small-font-size);
  font-weight: 600;
}
#about .container .about-content .about-content-nav a:hover {
  background-color: var(--first-color-alt);
  color: var(--container-color);
}
#about
  .container
  .about-content
  .about-content-nav
  a
  .about-content-nav-icon-prev {
  margin-right: 0.3rem;
}
#about
  .container
  .about-content
  .about-content-nav
  a
  .about-content-nav-icon-next {
  margin-left: 0.3rem;
}
/* end about section */

/*  skill section */
#skill {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#skill .container {
  display: flex;
  align-content: center;
}
#skill .container .skill-menu {
  width: 30%;
  padding-right: 1rem;
}
#skill .container .skill-menu h2.skill-menu-title {
  color: var(--first-color);
  font-size: var(--h2-font-size);
  text-transform: capitalize;
  position: relative;
  font-family: "Nunito";
  font-weight: 700;
  margin-bottom: 1rem;
  display: inline-block;
  padding-left: 1rem;
}
#skill .container .skill-menu h2.skill-menu-title::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  height: 70%;
  width: 5px;
  background-color: var(--first-color);
  border-radius: 2px;
  transform: translate(0, -50%);
}
#skill .container .skill-menu p.skill-menu-desc {
  color: var(--text-color-alt);
  font-size: var(--h6-font-size);
  margin-bottom: 0.5rem;
}
#skill .container .skill-menu .skill-menu-sosmed a {
  text-decoration: none;
  margin-right: 0.4rem;
  color: var(--text-color-alt);
  transition: 0.2s;
}
#skill .container .skill-menu .skill-menu-sosmed a:hover {
  color: var(--first-color-alt);
}
#skill .container .skill-content {
  width: 70%;
}
#skill .container .skill-content .skill-content-desc {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  width: 100%;
}
#skill .container .skill-content .skill-content-desc .skill-content-list {
  width: 50%;
  padding: 0 1rem;
}
#skill .container .skill-content .skill-content-desc .skill-content-list a {
  background-color: var(--container-color);
  display: block;
  width: 100%;
  padding: 1.4rem;
  text-decoration: none;
  color: var(--title-color);
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  font-size: var(--h6-font-size);
  font-weight: 500;
  transition: 0.3s;
}
#skill
  .container
  .skill-content
  .skill-content-desc
  .skill-content-list
  a:hover {
  background-color: var(--first-color-alt);
  color: var(--container-color);
}
#skill
  .container
  .skill-content
  .skill-content-desc
  .skill-content-list
  .skill-content-list-icon {
  margin-right: 0.5rem;
}
#skill .container .skill-content .skill-content-nav {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}
#skill .container .skill-content .skill-content-nav a {
  background-color: var(--container-color);
  text-decoration: none;
  padding: 0.4rem 0.9rem;
  border-radius: 0.3rem;
  color: var(--text-color);
  transition: 0.3s;
  font-size: var(--small-font-size);
  font-weight: 600;
}
#skill .container .skill-content .skill-content-nav a:hover {
  background-color: var(--first-color-alt);
  color: var(--container-color);
}
#skill
  .container
  .skill-content
  .skill-content-nav
  a
  .skill-content-nav-icon-prev {
  margin-right: 0.3rem;
}
#skill
  .container
  .skill-content
  .skill-content-nav
  a
  .skill-content-nav-icon-next {
  margin-left: 0.3rem;
}
/* end skill section */

/* portfolio section */
#portfolio {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
}
#portfolio .container {
  display: flex;
  align-content: center;
}
#portfolio .container .portfolio-menu {
  width: 30%;
  padding-right: 1rem;
}
#portfolio .container .portfolio-menu h2.portfolio-menu-title {
  color: var(--first-color);
  font-size: var(--h2-font-size);
  text-transform: capitalize;
  position: relative;
  font-family: "Nunito";
  font-weight: 700;
  margin-bottom: 1rem;
  display: inline-block;
  padding-left: 1rem;
}
#portfolio .container .portfolio-menu h2.portfolio-menu-title::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  height: 70%;
  width: 5px;
  background-color: var(--first-color);
  border-radius: 2px;
  transform: translate(0, -50%);
}
#portfolio .container .portfolio-menu p.portfolio-menu-desc {
  color: var(--text-color-alt);
  font-size: var(--h6-font-size);
  margin-bottom: 0.5rem;
}
#portfolio .container .portfolio-menu .portfolio-menu-sosmed a {
  text-decoration: none;
  margin-right: 0.4rem;
  color: var(--text-color-alt);
  transition: 0.2s;
}
#portfolio .container .portfolio-menu .portfolio-menu-sosmed a:hover {
  color: var(--first-color-alt);
}
#portfolio .container .portfolio-content {
  width: 70%;
}
#portfolio .container .portfolio-content .portfolio-content-desc {
  display: flex;
  justify-content: flex-start;
  gap: 0.9rem;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  width: 100%;
}
#portfolio
  .container
  .portfolio-content
  .portfolio-content-desc
  .portfolio-content-list {
  width: 32%;
  padding: 0 1rem;
  text-align: center;
  background-color: var(--container-color);
  padding: 1rem;
  color: var(--title-color);
  border-radius: 0.5rem;
  /* margin-bottom: .35rem; */
  transition: 0.3s;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
#portfolio
  .container
  .portfolio-content
  .portfolio-content-desc
  .portfolio-content-list
  img.portfolio-content-list-img {
  width: 100%;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
}
#portfolio
  .container
  .portfolio-content
  .portfolio-content-desc
  .portfolio-content-list
  h4.portfolio-content-list-title {
  font-size: var(--normal-font-size);
  font-weight: 400;
}
#portfolio
  .container
  .portfolio-content
  .portfolio-content-desc
  .portfolio-content-list
  .portfolio-content-list-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: var(--first-color-alt);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0;
  transition: 0.3s;
  opacity: 0.1;
}
#portfolio
  .container
  .portfolio-content
  .portfolio-content-desc
  .portfolio-content-list:hover
  .portfolio-content-list-layer {
  width: 100%;
  height: 100%;
  font-size: var(--h2-font-size);
  color: white;
  opacity: 0.95;
}
#portfolio
  .container
  .portfolio-content
  .portfolio-content-desc
  .portfolio-content-list
  .portfolio-content-list-icon {
  margin-right: 0.5rem;
}
#portfolio .container .portfolio-content .portfolio-content-nav {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
#portfolio .container .portfolio-content .portfolio-content-nav a {
  background-color: var(--container-color);
  text-decoration: none;
  padding: 0.4rem 0.9rem;
  border-radius: 0.3rem;
  color: var(--text-color);
  transition: 0.3s;
  font-size: var(--small-font-size);
  font-weight: 600;
}
#portfolio .container .portfolio-content .portfolio-content-nav a:hover {
  background-color: var(--first-color-alt);
  color: var(--container-color);
}
#portfolio
  .container
  .portfolio-content
  .portfolio-content-nav
  a
  .portfolio-content-nav-icon-prev {
  margin-right: 0.3rem;
}
#portfolio
  .container
  .portfolio-content
  .portfolio-content-nav
  a
  .portfolio-content-nav-icon-next {
  margin-left: 0.3rem;
}
#portfolio-detail {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.97);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 3rem;
  transition: 0.3s;
}
#portfolio-detail.active {
  top: 0;
}
#portfolio-detail .portfolio-detail-img {
  width: 50%;
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-bottom: 1rem;
}
#portfolio-detail .portfolio-detail-img img.portfolio-detail-img-list {
  width: 100%;
  padding: 0 0.3rem;
  margin: 0;
}
#portfolio-detail .portfolio-detail-img .portfolio-detail-img-nav {
  font-size: var(--h4-font-size);
  padding: 0 1rem;
  cursor: pointer;
  color: var(--text-color);
}
#portfolio-detail .portfolio-detail-content {
  width: 50%;
  text-align: center;
  font-size: var(--normal-font-size);
  margin-bottom: 1rem;
  font-weight: normal;
  color: var(--text-color);
}
#portfolio-detail .portfolio-detail-close button {
  background-color: var(--text-color-alt);
  outline: none;
  border: 0;
  padding: 0.4rem 0.7rem;
  border-radius: 0.2rem;
  cursor: pointer;
  font-weight: bold;
}
/* end portfolio section */

/*  contact section */
#contact {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#contact .container {
  display: flex;
  align-content: center;
}
#contact .container .contact-menu {
  width: 30%;
  padding-right: 1rem;
}
#contact .container .contact-menu h2.contact-menu-title {
  color: var(--first-color);
  font-size: var(--h2-font-size);
  text-transform: capitalize;
  position: relative;
  font-family: "Nunito";
  font-weight: 700;
  margin-bottom: 1rem;
  display: inline-block;
  padding-left: 1rem;
}
#contact .container .contact-menu h2.contact-menu-title::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  height: 70%;
  width: 5px;
  background-color: var(--first-color);
  border-radius: 2px;
  transform: translate(0, -50%);
}
#contact .container .contact-menu p.contact-menu-desc {
  color: var(--text-color-alt);
  font-size: var(--h6-font-size);
  margin-bottom: 0.5rem;
}
#contact .container .contact-menu .contact-menu-sosmed a {
  text-decoration: none;
  margin-right: 0.4rem;
  color: var(--text-color-alt);
  transition: 0.2s;
}
#contact .container .contact-menu .contact-menu-sosmed a:hover {
  color: var(--first-color-alt);
}
#contact .container .contact-content {
  width: 70%;
}
#contact .container .contact-content .contact-content-desc {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  width: 100%;
  gap: 0.8rem;
}
#contact
  .container
  .contact-content
  .contact-content-desc
  .contact-content-list {
  width: 48%;
  padding: 0 1rem;
  background-color: var(--container-color);
  display: block;
  padding: 1.4rem;
  text-decoration: none;
  color: var(--title-color);
  border-radius: 0.5rem;
  font-size: var(--h6-font-size);
  font-weight: 500;
  transition: 0.3s;
  display: flex;
  align-items: center;
}
#contact
  .container
  .contact-content
  .contact-content-desc
  .contact-content-list
  .contact-content-list-info
  h4 {
  margin: 0;
  padding: 0;
  font-weight: 600;
}
#contact
  .container
  .contact-content
  .contact-content-desc
  .contact-content-list
  .contact-content-list-info
  small {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
#contact
  .container
  .contact-content
  .contact-content-desc
  .contact-content-list:hover {
  background-color: var(--first-color-alt);
  color: var(--container-color);
}
#contact
  .container
  .contact-content
  .contact-content-desc
  .contact-content-list
  .contact-content-list-icon {
  margin-right: 0.9rem;
  font-size: var(--h4-font-size);
}
#contact .container .contact-content .contact-content-nav {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
#contact .container .contact-content .contact-content-nav a {
  background-color: var(--container-color);
  text-decoration: none;
  padding: 0.4rem 0.9rem;
  border-radius: 0.3rem;
  color: var(--text-color);
  transition: 0.3s;
  font-size: var(--small-font-size);
  font-weight: 600;
}
#contact .container .contact-content .contact-content-nav a:hover {
  background-color: var(--first-color-alt);
  color: var(--container-color);
}
#contact
  .container
  .contact-content
  .contact-content-nav
  a
  .contact-content-nav-icon-prev {
  margin-right: 0.3rem;
}
#contact
  .container
  .contact-content
  .contact-content-nav
  a
  .contact-content-nav-icon-next {
  margin-left: 0.3rem;
}
/* end contact section */

/* ==================================================================== */
/* laptop mode */
@media (max-width: 992px) {
  :root {
    --h2-font-size: 2.5rem;
    --h4-font-size: 2.2rem;
    --h6-font-size: 1rem;
    --normal-font-size: 0.87rem;
    --small-font-size: 0.8rem;
  }
  /* global */
  .container {
    max-width: 95%;
    margin: 0 auto;
  }

  /* portfolio section */
  #portfolio
    .container
    .portfolio-content
    .portfolio-content-desc
    .portfolio-content-list {
    width: 48%;
    padding: 1rem;
  }
  #portfolio-detail .portfolio-detail-img {
    width: 100%;
  }
  #portfolio-detail .portfolio-detail-content {
    width: 100%;
  }
  /* end postfolio section */
}

/* ==================================================================== */
/* mobile & tablet mode */
@media (max-width: 768px) {
  :root {
    --h2-font-size: 2.3rem;
    --h4-font-size: 2.1rem;
    --h6-font-size: 1.1rem;
    --normal-font-size: 0.98rem;
    --small-font-size: 0.8rem;
  }
  /* global */
  .container {
    max-width: 85%;
    margin: 0 auto;
  }
  /* home section */
  #home {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #home .container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding: 1.3rem 0;
  }
  #home .container .home-profile {
    width: 100%;
    text-align: center;
    padding-right: 0;
    margin-bottom: 1.3rem;
  }
  #home .container .home-profile p.home-profile-desc {
    margin-bottom: 1rem;
  }
  #home .container .home-menu {
    width: 100%;
  }
  #home .container .home-menu .home-menu-group .home-menu-list {
    width: 100%;
    padding: 0;
  }
  #home .container .home-menu .home-menu-group .home-menu-list a {
    background-color: var(--container-color);
    display: block;
    width: 100%;
    padding: 1rem;
    text-decoration: none;
    color: var(--title-color);
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    font-size: var(--h6-font-size);
    font-weight: 500;
    transition: 0.3s;
  }
  /* end home section */

  /*  about section */
  #about {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #about .container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding: 1.3rem 0;
  }
  #about .container .about-menu {
    width: 100%;
    margin-bottom: 1.5rem;
    text-align: center;
  }
  #about .container .about-menu h2.about-menu-title {
    padding-left: 0;
  }
  #about .container .about-menu h2.about-menu-title::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 95%;
    bottom: 0;
    height: 5px;
    width: 70%;
    background-color: var(--first-color);
    border-radius: 2px;
    transform: translate(-50%, 0);
    padding-bottom: 0;
  }
  #about .container .about-content {
    width: 100%;
  }
  /* end about section */

  /*  skill section */
  #skill {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #skill .container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding: 1.3rem 0;
  }
  #skill .container .skill-menu {
    width: 100%;
    margin-bottom: 1.5rem;
    text-align: center;
  }
  #skill .container .skill-menu h2.skill-menu-title {
    padding-left: 0;
  }
  #skill .container .skill-menu h2.skill-menu-title::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 95%;
    bottom: 0;
    height: 5px;
    width: 70%;
    background-color: var(--first-color);
    border-radius: 2px;
    transform: translate(-50%, 0);
    padding-bottom: 0;
  }
  #skill .container .skill-content {
    width: 100%;
  }
  #skill .container .skill-content .skill-content-desc .skill-content-list {
    width: 100%;
    padding: 0 1rem;
  }
  /* end skill section */

  /*  portfolio section */
  #portfolio {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  #portfolio .container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding: 1.3rem 0;
  }
  #portfolio .container .portfolio-menu {
    width: 100%;
    margin-bottom: 1.5rem;
    text-align: center;
  }
  #portfolio .container .portfolio-menu h2.portfolio-menu-title {
    padding-left: 0;
  }
  #portfolio .container .portfolio-menu h2.portfolio-menu-title::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 95%;
    bottom: 0;
    height: 5px;
    width: 70%;
    background-color: var(--first-color);
    border-radius: 2px;
    transform: translate(-50%, 0);
    padding-bottom: 0;
  }
  #portfolio .container .portfolio-content {
    width: 100%;
  }
  #portfolio
    .container
    .portfolio-content
    .portfolio-content-desc
    .portfolio-content-list {
    width: 100%;
    padding: 1rem;
  }
  #portfolio-detail .portfolio-detail-img {
    width: 120%;
  }
  #portfolio-detail .portfolio-detail-content {
    width: 100%;
  }
  #portfolio-detail .portfolio-detail-content {
    font-size: var(--small-font-size);
  }
  /* end portfolio section */

  /*  contact section */
  #contact {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  #contact .container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding: 1.3rem 0;
  }
  #contact .container .contact-menu {
    width: 100%;
    margin-bottom: 1.5rem;
    text-align: center;
  }
  #contact .container .contact-menu h2.contact-menu-title {
    padding-left: 0;
  }
  #contact .container .contact-menu h2.contact-menu-title::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 95%;
    bottom: 0;
    height: 5px;
    width: 70%;
    background-color: var(--first-color);
    border-radius: 2px;
    transform: translate(-50%, 0);
    padding-bottom: 0;
  }
  #contact .container .contact-content {
    width: 100%;
  }
  #contact
    .container
    .contact-content
    .contact-content-desc
    .contact-content-list {
    width: 100%;
    padding: 1rem;
  }
  /* end contact section */
}

/* mobile only */
@media (max-width: 380px) {
  #portfolio-detail .portfolio-detail-img {
    width: 140%;
  }
}
