@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap");
:root {
  --hue: 207; /* blue */

  --first-color: hsl(var(--hue), 90%, 61%);
  --first-color-alt: hsl(var(--hue), 90%, 57%);

  --title-color: hsl(var(--hue), 12%, 95%);
  --text-color: hsl(var(--hue), 12%, 75%);

  --body-color: hsl(var(--hue), 40%, 8%);
  --container-color: hsl(var(--hue), 24%, 12%);

  --h2-font-size: 3rem;
  --h4-font-size: 2.5rem;
  --h6-font-size: 1.1rem;
  --normal-font-size: 0.98rem;
  --small-font-size: 0.8rem;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  background-color: var(--body-color);
}

/* global class */
.container {
  max-width: 80%;
  margin: 0 auto;
}

/* dekstop mode */
/* home section */
#home {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#home .container {
  display: flex;
  align-content: center;
}
#home .container .home-profile {
  width: 40%;
  text-align: center;
  padding-right: 3rem;
}
#home .container .home-profile img.home-profile-img {
  width: 190px;
  border-radius: 50%;
  border: 4px solid var(--first-color-alt);
  padding: 0.3rem;
  margin-bottom: 1.2rem;
}
#home .container .home-profile h2.home-profile-title {
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-bottom: 0.9rem;
  line-height: 2.5rem;
  font-family: "Nunito";
  text-transform: uppercase;
  font-weight: 800;
}
#home .container .home-profile p.home-profile-desc {
  font-size: var(--normal-font-size);
  color: var(--text-color);
  margin-bottom: 0.3rem;
}
#home .container .home-menu {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#home .container .home-menu .home-menu-group {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 1rem;
}
#home .container .home-menu .home-menu-group .home-menu-list {
  width: 50%;
  padding: 0 1rem;
}
#home .container .home-menu .home-menu-group .home-menu-list a {
  background-color: var(--container-color);
  display: block;
  width: 100%;
  padding: 1.4rem;
  text-decoration: none;
  color: var(--title-color);
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  font-size: var(--h6-font-size);
  font-weight: 500;
  transition: 0.3s;
}
#home .container .home-menu .home-menu-group .home-menu-list a:hover {
  background-color: var(--first-color-alt);
  color: var(--container-color);
}
#home
  .container
  .home-menu
  .home-menu-group
  .home-menu-list
  .home-menu-list-icon {
  margin-right: 0.5rem;
}
#home .container .home-menu .home-menu-sosmed {
  text-align: center;
}
#home .container .home-menu .home-menu-sosmed a {
  text-decoration: none;
  margin: 0.4rem;
  color: var(--first-color-alt);
  transition: 0.2s;
}
#home .container .home-menu .home-menu-sosmed a:hover {
  color: var(--first-color);
}
/* end home section */

/* laptop mode */
@media (max-width: 992px) {
  :root {
    --h2-font-size: 2.5rem;
    --h4-font-size: 2.2rem;
    --h6-font-size: 1rem;
    --normal-font-size: 0.87rem;
    --small-font-size: 0.8rem;
  }
  /* global */
  .container {
    max-width: 95%;
    margin: 0 auto;
  }
}

/* mobile & tablet mode */
@media (max-width: 768px) {
  :root {
    --h2-font-size: 2.3rem;
    --h4-font-size: 2.1rem;
    --h6-font-size: 1.1rem;
    --normal-font-size: 0.98rem;
    --small-font-size: 0.8rem;
  }
  /* global */
  .container {
    max-width: 85%;
    margin: 0 auto;
  }
  /* home section */
  #home {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #home .container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding: 1.3rem  0;
  }
  #home .container .home-profile {
    width: 100%;
    text-align: center;
    padding-right: 0;
    margin-bottom: 1.3rem;
  }
  #home .container .home-menu {
    width: 100%;
  }
  #home .container .home-menu .home-menu-group .home-menu-list {
    width: 100%;
    padding: 0;
  }
  #home .container .home-menu .home-menu-group .home-menu-list a {
    background-color: var(--container-color);
    display: block;
    width: 100%;
    padding: 1rem;
    text-decoration: none;
    color: var(--title-color);
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    font-size: var(--h6-font-size);
    font-weight: 500;
    transition: 0.3s;
  }
  /* end home section */
}
