@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&family=Poppins:wght@300;400;500;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* root desktop */
:root {
  /* color */
  --bg-white : #fbfbfe;
  --bg-dark : #000;
  --bg-blue : #0F00FF;
  
  /* font size */
  --big-font-size: 2rem;
  --h1-font-size: 1.75rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /* font color */
  --font-light : #fff;
  --font-dark : #242329;
  --font-grey : #a19fad;
  --font-grey-2 : #6d6a7c;
  --font-grey-3 : #f0eefc;
  --font-purple : #5a43cb;
  --font-purple-light : #6e57e0;
  --font-purple-lighter : #c1b6fc;
  /* other */
  --section-padding-top : 30px;
}

/* root mobile */
@media (max-width : 768px) {
  :root {
    /* font size */
    --big-font-size: 3.1rem;
    --h1-font-size: 2.1rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}


* {
  font-family: "Nunito", Sans-Serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-weight: normal;
}
html {
  overflow-x: hidden;
}

body {
  width: 100%;
  background : var(--bg-white);
  font-size: var(--normal-font-size);
  overflow-x: hidden;
  min-height: 15000px;
}

section.section {
  padding-top: var(--section-padding-top);
  padding-bottom: 1.75rem;
}
.title_heading {
  position: relative;
  display: inline-block;
  padding-bottom: 3px;
  font-weight: 600;
  font-family: "Poppins";
  color: var(--font-dark);
}
.title_heading::before {
  content: "";
  width: 65%;
  height: 4px;
  border-radius: 3px;
  left: 50%;
  bottom: 0;
  position: absolute;
  transform: translate(-50%, 0);
  background: var(--font-purple);
}
.title_heading::after {
  content: "";
  left: 50%;
  bottom: 0;
  position: absolute;
  transform: translate(-50%, 0);
  background: var(--font-purple);
  width: 4px;
  height: 4px;
  outline-offset: 0;
  outline: var(--bg-white) solid 5px;
}

/* loading screen */
#loading_screen {
  position: fixed;
  z-index: 99995;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #111;
}
#loading_screen .loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
#loading_screen p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  margin: 0;
  color: #fff;
  letter-spacing: 2px;
  animation: loading_letter 1s linear infinite;
}
#loading_screen .loading1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border: 3px solid #3c3c3c;
  height: 100%;
  width: 100%;
  border-top: 3px solid var(--font-purple);
  border-left: 3px solid var(--font-purple);
  border-radius: 50%;
  animation: loading1 2s linear infinite;
}
#loading_screen .loading2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border: 3px solid #3c3c3c;
  height: 100%;
  width: 100%;
  border-top: 3px solid var(--font-purple);
  border-right: 3px solid var(--font-purple);
  border-radius: 50%;
  animation: loading2 2s linear infinite;
}
#loading_screen .loading3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border: 3px solid #3c3c3c;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid var(--font-purple);
  border-left: 3px solid var(--font-purple);
  border-radius: 50%;
  animation: loading1 2s linear infinite;
}
#loading_screen .loading1 {
  width: 220px;
  height: 220px;
}
#loading_screen .loading2 {
  width: 170px;
  height: 170px;
}
#loading_screen .loading3 {
  width: 120px;
  height: 120px;
}

/* navbar */
#my_nav.nav-active {
  background : #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
#my_nav.nav-active .my_nav_logo a, 
#my_nav.nav-active .my_nav_menu ul li a {
  color: var(--font-dark);
}
#my_nav {
  background : transparent;
  transition: .3s;
  padding: .35rem 0;
}
.my_nav_logo a {
  font-size: var(--h1-font-size);
  text-decoration: none;
  font-weight: 500;
  color: var(--font-dark);
}
.my_nav_logo a span {
  font-weight: 800;
  transition: .75s;
}
.my_nav_logo a:hover span {
  color: var(--font-purple);
}
.my_nav_menu ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.my_nav_menu ul li {
  margin: .3rem .5rem;
  padding: 0;
}
.my_nav_menu ul li a {
  display: block;
  text-decoration: none;
  color : var(--font-dark);
  transition: 0.75s;
  font-weight: 600;
  position: relative;
}
.my_nav_menu ul li a:hover {
  color : var(--font-purple);
}
.my_nav_menu ul li a:hover::before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background: var(--font-purple);
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
  border-radius: 2px;
  animation: listMenuHover .5s forwards;
}
.my_nav_menu .my_toggle_close {
  display: none;
}
#my_toggle_menu {
  display: none;
}

/* hero section */
#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--font-dark);
  min-height: 100vh;
  background: #fff;
}
#hero .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#hero .hero_info {
  width: 50%;
}
.hero_info h4 {
  font-size: var(--big-font-size);
  font-weight: 500;
  margin-bottom: .2rem;
  font-family: "Poppins";
}
.hero_info h2 {
  font-size: 3.25rem;
  margin-bottom: 0;
}
.hero_info h2 span {
  font-weight: 800;
}
.hero_info p {
  font-weight: normal;
  color: var(--font-grey);
  margin-bottom: 1rem;
}
.hero_info a.hero_button {
  border-radius: 5px;
  padding: .75rem 1rem;
  text-decoration: none;
  vertical-align: middle;
  font-weight: 500;
  font-family: "Poppins";
  transition: .5s;
  background: var(--font-purple);
  color: var(--font-light);
  cursor: pointer;
}
.hero_info a.hero_button:hover {
  background: var(--font-purple-light);
}
.hero_info a.hero_button i {
  margin-left: .3rem;
}
#hero .hero_img {
  text-align: center;
  width: 40%;
}
#hero .hero_img img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 3px solid #ededed;
  margin-bottom: .7rem;
  margin-left: 2rem;
}
#hero .hero_sosmed {
  width: 10%;
}
#hero .hero_sosmed a {
  color: var(--font-grey);
  font-size: 1.3rem;
  margin: 0 .1rem;
  transition: 1s;
  text-decoration: none;
}
#hero .hero_sosmed a:hover i {
  transform: scale(1.1);
  color: var(--font-purple);
}

/* about */
#about .about_img img{
  width : 100%;
  max-height: 300px;
  border-radius: 5px;
}
#about .about_info h4 {
  font-size: var(--h1-font-size);
  font-weight: 600;
}
#about .about_info h4 span {
  color: var(--font-purple);
  font-weight: 800;
}
#about .about_info p {
  font-weight: normal;
  font-size: var(--p-size);
  font-family: "Poppins";
}

/* skill */
#skill .container {
  text-align: center;
}
#skill .skill_bx {
  background: #fff;
  width: 30%;
  transition: .65s;
}
#skill .skill_bx:hover {
  background: var(--font-purple-light) ;
  transform: translate(0, -4%);
}
#skill .skill_bx:hover .skill_percent {
  border-color: var(--bg-white);
  color: var(--bg-white);
}
#skill .skill_bx:hover .skill_info h4 {
  color: var(--bg-white);
}
.skill_bx .skill_percent {
  width: 70px;
  height: 70px;
  margin: 0 auto;
  border-radius: 50%;
  border: 3px solid var(--font-purple-light);
  font-size: var(--h2-font-size);
  color: var(--font-purple);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: .7rem;
  transition: .65s;
}
.skill_bx .skill_info h4 {
  font-size: var(--h2-font-size);
  color: var(--font-grey-2);
  font-family: "Poppins";
  transition: .65s;
}

/* prohect/Portofolio*/
#project .container {
  background: var(--font-purple-light);
  text-align: center;
  overflow: hidden;
  height: 100%!important;
  position: relative !important;
}
#project h2.project_heading {
  position: relative;
  display: inline-block;
  padding-bottom: 3px;
  font-weight: 600;
  font-family: "Poppins";
  color: var(--font-light);
  text-align: center;
}
#project .project_box {
  width: 100%;
  position: relative;
}
.project_box .project_bx {
  height: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
}
.project_bx .project_img {
  width: 230px;
  height: 150px;
  border-radius: .5rem;
}
.project_bx .project_info {
  text-align: left;
  margin-left: .9rem;
}
.project_info h6 {
  font-size: var(--h2-font-size);
}
.project_info p {
  font-size: var(--normal-font-size);
}
.project_info a.project_button {
  background: var(--font-purple-light);
  text-decoration: none;
  color: var(--font-light);
  font-size: var(--normal-font-size);
}

/* mobile version */
@media (max-width : 768px) {
  /* navbar */
  .my_nav_menu.menu_active {
    bottom: 0;
    opacity: 1;
    transform: translate(-50%, 0);
  }
  #my_nav.nav-active #my_toggle_menu i {
    color: var(--font-dark);
  }
  .my_nav_menu {
    position: fixed;
    bottom: 0;
    left: 50%;
    background: #fff;
    z-index: 3;
    transform: translate(-50%, 100%);
    width: 90%;
    padding: 0 0 1.4rem 0;
    opacity: 0;
    border-radius: 5px;
    transition: .3s linear;
    
  }
  .my_nav_menu ul {
    flex-direction: column;
  }
  .my_nav_menu ul li {
    width: 80%;
    text-align: center;
  }
  .my_nav_menu ul li a {
    width: 100%;
    padding: .5rem 0;
    margin: .3rem 0;
    font-size: var(--h3-font-size);
    font-weight: 500;
    color: var(--font-dark);
  }
  .my_nav_menu ul li a:hover::before {
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
  }
  .my_nav_layer {
    position: fixed;
    z-index: 2;
    background: rgba(0,0,0,.9);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
  }
  .my_nav_layer.layer_active {
    display: block;
  }
  #my_toggle_menu {
    display: block;
  }
  #my_toggle_menu i {
    font-size: var(--h2-font-size);
    color: var(--font-dark);
  }
  
  /* hero */
  #hero .container {
    flex-direction: column-reverse;
  }
  #hero .hero_info {
    width: 100%;
    text-align: center;
  }
  .hero_info h4 {
    font-size: var(--h1-font-size);
    display: none;
  }
  .hero_info h2 {
    font-size: var(--big-font-size);
  }
  .hero_info p {
    font-size: var(--small-font-size);
  }
  #hero .hero_img {
    width: 100%;
    margin-bottom: .1rem;
    position: relative;
    justify-content: center !important;
    flex-direction: row;
  }
  #hero .hero_img img {
    width: 250px;
    height: 250px;
    margin-right: 1rem;
  }
  #hero .hero_sosmed {
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
    margin-bottom: .1rem;
  }
  #hero .hero_sosmed a {
    font-size: var(--h2-font-size);
    margin: 0 .25rem;
    
  }
  
  /* about section */
  #about .about_img {
    margin-bottom: 1.2rem;
  }
  #about .about_info {
    text-align: center;
  }
  #about .about_info h4 {
    font-size: var(--h1-font-size);
    font-weight: 600;
    padding-bottom: 2px;
    position: relative;
    text-align: center;
  }
  
  /* skill */
  #skill .skill_bx {
    width: 80%;
    transition: .65s;
    padding: 2rem 0 !important;
  }
  .skill_bx .skill_percent {
    width: 100px;
    height: 100px;
  }
  
}

@keyframes listMenuHover {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}
@keyframes ToggleCloseNav {
  0% {
    margin-bottom: 0;
  }
  100% {
    margin-bottom: 7px;
  }
}
@keyframes loading1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loading2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes loading_letter {
  0%{
    opacity: 0;
  }
  25%{
    opacity: .25;
  }
  50% {
    opacity: .5;
  }
  75% {
    opacity: .75;
  }
  100%{
    opacity: 1;
  }
}
@media (max-width : 768px ) {
  @keyframes listMenuHover {
    0% {
      width: 0%;
    }
    100% {
      width: 30%;
    }
  }
}
