@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&family=Poppins:wght@300;400;500;600;800&display=swap');

/* root desktop */
:root {
  /* color */
  --bg-white : #fdfdfd;
  --bg-dark : #000;
  --bg-blue : #09009B;
  
  /* font size */
  --h1-size : 2.25rem;
  --h2-size : 2rem;
  --h4-size : 1.5rem;
  --h6-size : 1rem;
  --p-size : .95rem;
  
  /* font color */
  --font-light : #fff;
  --font-dark : #111;
  /*--font-blue : #0F00FF;*/
  --font-blue : #1597E5;
  /* other */
  --section-min-height : 100vh;
  --section-padding-top : 30px;
}

/* root mobile */
@media (max-width : 768px) {
  :root {
    /* font size */
    --h1-size : 2rem;
    --h2-size : 1.75rem;
    --h4-size : 1.5rem;
    --h6-size : 1.2rem;
    --p-size : .95rem;
  }
}


* {
  font-family: "Nunito", Sans-Serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-weight: normal;
}
html {
  overflow-x: hidden;
}

body {
  width: 100%;
  background : var(--bg-white);
  min-height: 2000px;
  overflow-x: hidden;
}
section {
  min-height: var(--section-min-height);
}
section.section {
  padding-top: var(--section-padding-top);
}

/* navbar */
#my_nav.nav-active {
  background : #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
#my_nav.nav-active .my_nav_logo a, 
#my_nav.nav-active .my_nav_menu ul li a {
  color: var(--font-dark);
}
#my_nav {
  background : transparent;
  transition: .5s;
  padding: .35rem 0;
}

.my_nav_logo a {
  font-size: var(--h1-size);
  text-decoration: none;
  font-weight: 400;
  color: var(--font-light);
}
.my_nav_logo a span {
  font-weight: 800;
  transition: .75s;
}
.my_nav_logo a:hover span {
  color: var(--font-blue);
}

.my_nav_menu ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.my_nav_menu ul li {
  margin: .3rem .5rem;
  padding: 0;
}
.my_nav_menu ul li a {
  display: block;
  text-decoration: none;
  color : var(--font-light);
  transition: 0.75s;
  font-weight: 600;
  position: relative;
  
}
.my_nav_menu ul li a:hover {
  color : var(--font-blue);
}
.my_nav_menu ul li a:hover::before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background: var(--font-blue);
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 2px;
  animation: listMenuHover .5s forwards;
}
.my_nav_menu .my_toggle_close {
  display: none;
}

#my_toggle_menu {
  display: none;
}


/* hero section */
#hero {
  background-image: url('../img/bg1.jpg');
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--font-light);
  background-attachment: fixed;
}

#hero .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#hero .hero_info {
  width: 50%;
}
.hero_info h4 {
  font-size: 3rem;
  font-weight: 600;
  font-family: "Poppins";
  margin-bottom: .2rem;
}
.hero_info h2 {
  font-size: 3.25rem;
  margin-bottom: 0;
}
.hero_info h2 span {
  font-weight: 800;
  color: var(--font-blue);
  text-shadow: 0 0 2px rgba(0,0,0,.5);
}
.hero_info p {
  font-weight: normal;
  text-shadow: 0 0 2px rgba(0,0,0,.5);
  margin-bottom: 1rem;
}
.hero_info a.hero_button {
  border: 2px solid #fff;
  border-radius: 5px;
  padding: .3rem .7rem;
  color: var(--font-light);
  text-decoration: none;
  vertical-align: middle;
  font-weight: 600;
  font-family: "Poppins";
  transition: .5s;
}
.hero_info a.hero_button:hover {
  background: var(--font-blue);
  border: 2px solid var(--font-blue);
  color: #000;
  letter-spacing: .1rem;
}
#hero .hero_img {
  text-align: center;
  width: 50%;
}
#hero .hero_img img {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  border: 3px solid #ededed;
  margin-bottom: .7rem;
  box-shadow: 2px 2px 3px rgba(0,0,0,.5);
}
.hero_img .hero_sosmed a {
  color: var(--font-light);
  font-size: 1.3rem;
  margin: 0 .1rem;
  transition: 1s;
  text-decoration: none;
}
.hero_img .hero_sosmed a:hover i {
  transform: scale(1.2);
}

/* about */
#about #about_imgs {
  float: right;
  width : 70%;
  height: 100%;
  position: relative;
  margin-right: .9rem;
  border-left: 5px solid var(--bg-white);
  /*border-left: 3px solid var(--bg-white);*/
  
}
#about #about_imgs::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 10px solid var(--font-blue);
  bottom: -15%;
  left: -15%;
  z-index: -1;
}
#about .about_img img{
  width : 100%;
  height: 100%;
  box-shadow: 0 0 2px var(--font-blue);
}

#about .about_info h4 {
  font-size: var(--h2-size);
  font-weight: 600;
  
}
#about .about_info h4 span {
  color: var(--font-blue);
  font-weight: 800;
}
.title_heading {
  position: relative;
  display: inline-block;
  padding-bottom: 3px;
  font-size: var(--h2-size);
  font-weight: 600;
}
.title_heading::before {
  content: "";
  width: 65%;
  height: 4px;
  border-radius: 3px;
  left: 50%;
  bottom: 0;
  position: absolute;
  transform: translate(-50%, 0);
  background: var(--font-blue);
}
.title_heading::after {
  content: "";
  left: 50%;
  bottom: 0;
  position: absolute;
  transform: translate(-50%, 0);
  background: var(--font-blue);
  width: 4px;
  height: 4px;
  outline-offset: 0;
  outline: var(--bg-white) solid 5px;
}
#about .about_info p {
  font-weight: normal;
  font-size: var(--p-size);
  font-family: "Poppins";
}

/* skill */
#skill .container {
  text-align: center;
}
#skill .container .row {
  text-align: left;
}

.education .education_box {
  position: relative;
  padding: 5px 5px 5px 0;
  padding-left: 1.2rem;
  
  
}
.education .education_box::before {
  content: "";
  width: 2px;
  height: 100%;
  background: #3987f4;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-50%, 0);
}
.education .education_box::after {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  background: #3987f4;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
  transform: translate(-50%, 0);
}
.education_box h4 {
  padding-bottom: 0;
  margin-bottom: 0;
}
.education_box h4 a {
  font-size: 1.3rem;
  margin-bottom: 0;
}
.education_box h6 {
  font-size: .9rem;
  font-weight: 600;
}
.education_box p {
  font-size: .8rem;
}

#skill .skill_box {
  transition: .5s;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}
#skill .skill_box:hover {
  transform: scale(1.02);
}
#skill .skill_box::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 2px;
  background: var(--bg-blue);
}


/* mobile version */
@media (max-width : 768px) {
  /* navbar */
  .my_nav_menu.menu_active {
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  #my_nav.nav-active #my_toggle_menu i {
    color: var(--font-dark);
  }
  .my_nav_menu {
    position: fixed;
    top: -10px;
    left: 50%;
    background: #fff;
    z-index: 3;
    transform: translate(-50%, -100%);
    width: 75%;
    padding: 0 0 1rem 0 ;
    opacity: 0;
    border-radius: 5px;
    transition: .5s linear;
  }
  .my_nav_menu ul {
    flex-direction: column;
  }
  .my_nav_menu ul li {
    width: 80%;
    text-align: center;
  }
  .my_nav_menu ul li a {
    width: 100%;
    padding: .5rem 0;
    margin: .3rem 0;
    font-size: var(--h4-size);
    font-weight: 600;
    color: var(--font-dark);
  }
  .my_nav_menu ul li a:hover::before {
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
  }
  .my_nav_menu .my_toggle_close {
    display: block;
    width: 100%;
    text-align: right;
    padding: 5px 7px 0 0;
  }
  .my_nav_menu .my_toggle_close i {
    font-size: var(--h1-size);
  }
  
  .my_nav_layer {
    position: fixed;
    z-index: 2;
    background: rgba(0,0,0,.9);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
  }
  .my_nav_layer.layer_active {
    display: block;
  }
  #my_toggle_menu {
    display: block;
  }
  #my_toggle_menu i {
    font-size: var(--h4-size);
    color: var(--font-light);
  }
  
  /* hero */
  #hero .container {
    flex-direction: column-reverse;
  }
  #hero .hero_info {
    width: 100%;
    text-align: center;
  }
  .hero_info h4 {
    font-size: var(--h2-size);
  }
  .hero_info h2 {
    font-size: var(--h1-size);
  }
  #hero .hero_img {
    width: 100%;
    margin-bottom: 1rem;
    position: relative;
    padding-bottom: 1rem;
  }
  #hero .hero_img::before {
    content: "";
    position: absolute;
    width: 80%;
    height: 1px;
    border-radius: 3px;
    background: #fff;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .hero_img .hero_sosmed a {
    font-size: var(--h2-size);
    margin: 0 .1rem;
  }
  
  /* about section */
  #about .about_img {
    margin-bottom: 1.2rem;
  }
  #about #about_imgs::before {
    width: 0;
    height: 0;
    border: none;
  }
  #about #about_imgs {
    float: none;
    margin-left: 0;
    margin: auto;
    width: 100%;
    height: 100%;
  }
  #about .about_info {
    text-align: center;
  }
  #about .about_info h4 {
    font-size: var(--h1-size);
    font-weight: 600;
    padding-bottom: 2px;
    position: relative;
    text-align: center;
  }
  
}

@keyframes listMenuHover {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}
@keyframes ToggleCloseNav {
  0% {
    margin-bottom: 0;
  }
  100% {
    margin-bottom: 7px;
  }
}

@media (max-width : 768px ) {
  @keyframes listMenuHover {
    0% {
      width: 0%;
    }
    100% {
      width: 30%;
    }
  }
}
